
A_CRDs/.DS_Store
debug/
A_CRDs/trans/trans.Rproj
A_CRDs/trans/.Rproj.user/shared/notebooks/patch-chunk-names
A_CRDs/trans/.Rproj.user/5B68AD9B/sources/s-88614DC/lock_file
A_CRDs/trans/.Rproj.user/5B68AD9B/sources/s-88614DC/55918952-contents
A_CRDs/trans/.Rproj.user/5B68AD9B/sources/s-88614DC/55918952
A_CRDs/trans/.Rproj.user/5B68AD9B/sources/prop/INDEX
A_CRDs/trans/.Rproj.user/5B68AD9B/sources/prop/EF30656C
A_CRDs/R_plots/.DS_Store
A_CRDs/trans/.DS_Store
*.Rproj
A_CRDs/R_plots/transCRDs/.Rproj.user/5B68AD9B/sources/prop/3632AE9C
A_CRDs/R_plots/transCRDs/.Rproj.user/5B68AD9B/sources/prop/INDEX
A_CRDs/R_plots/transCRDs/.Rproj.user/5B68AD9B/sources/s-EA059EA9/4033D6C8
A_CRDs/R_plots/transCRDs/.Rproj.user/5B68AD9B/sources/s-EA059EA9/4033D6C8-contents
A_CRDs/R_plots/transCRDs/.Rproj.user/5B68AD9B/sources/s-EA059EA9/lock_file
A_CRDs/R_plots/transCRDs/.Rproj.user/shared/notebooks/patch-chunk-names
